body body{
   font-family: 'Arial unicode MS'; !important;
   font-size: 20px;
   width: 55px;
   Margin: 0px 4px 4px 14px!important;
   padding: 0px 0px 0px 0px;
   -webkit-font-smoothing: antialiased; 
   -webkit-text-size-adjust: none;
}
  p { font-family: 'Arial unicode MS'; }

#wrapper_level2 {
  p { font-family: 'Arial unicode MS'; }
  Margin: 5px;
  padding: 6px;
  width: 550px !important;
}

.big_table {
    border: 5px solid #666;
    background:red;
}


table {
    margin: 20px !important;
    background: #bbb;
     font-family: 'Arial unicode MS';

}


tbody {
    background: #fff;
}

tr {
    vertical-align: middle;
    height:20px;
}


tr.text_area_row {
    vertical-align: top !important;
    height: 120px !important;
    margin-left: 1em !important;
}


td { 
    padding: 4px 44px !important;
    font-family: "Arial" !important;
}


.soft_post</p>\n\ncol{
}

.spacer_col {
    width: 20px;
}


hr {height:6px;
	border-width:0;
	background-color:rgb(32, 143, 143);
	margin: 10px 0;
	width:527px;
}


p { font-weight: 500;
	font-family: Arial !important;
	font-size: 16px !important;
	line-height: 145%;
	padding:0 10px 0 14px;
	margin: 11px 0 0 20px;
}

borderBox_level1 {
    Margin: 0 4px 2px 4px; 
}

table.postMetaData_level3 {
    Margin: 4px 0px 0px 0px; 
    padding: 0; 
    line-height: 130%;
}

photoTable_level4 {
Margin: 4px 1px 10px 0px; 
   padding: 0px;

}

table.threadEtc_level4 {
    Margin: 3px 0 0 8px; 
    line-height: 130%;
}

table.postbody_level3, td.postbody_level3 {
    Margin: 0;
    padding: 0;
    line-height: 133%;
    font-size: 17px;
}

table.headline_level3 {
Margin: 6px 0px 0px 0px;
}

td.post_no_and_ID {
  width:39%;
  font-size: 11px; 
  line-height: .1px; 
  height: 13px;
}

td.post_no_and_ID_2 p {
width: 39%;
     Margin: 0;
     padding: 0;
     text-align: left;
line-height: .1px
}
p.hbsp {
font-family: 'Arial unicode MS';

}
.thread, .headline, .author, .cat, .picname, .slug, .addr, .title_column, .category {
  font-family: 'Arial';
  color: #707070;
  Margin: 8px 0 0 0;
  padding: 0 !important;
}

td.thread
 font-family: 'Arial unicode MS';

  color: #222;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  width: 90%;
}

td.headline {
 font-family: Arial; 
    font-weight: 600; 
    font-size: 18px; 
    color: #404040;
    display: inline; 
    border-bottom: 1px solid gray;

}

td.author {
  color: black;
  font-size: 15px;
  font-weight: 600;
}

td.addr {
  color: #2836d6;
  font-size: 11px;
  font-weight: 400;
  padding: 0 8px; 
  }

a.mailto1 {
text-decoration: none; 
    Margin: 0 0 0 0;
    color: #2836d0; 
    font-size: 18px; 
    font-weight: 600;
    line-height: 130%
}

a.mailto2 {
font-size: 11px; 
    font-weight: 600;
    color: #2836d0;
    Margin: 0 0 0 0;
    line-height: 130%;

}

span.thread {
font-family: Arial; 
   color: #707070; 
   font-family: Arial; 
   Margin: 0 0 1em 0; 
   padding: 10px 0 0 0;
   font-weight: 600;
   font-size: 14px; 
   color: #2f2f2f;
   line-height: 125%;
}
*/
span.category_label, .thread_label {
    margin: 0;
    padding: 0;
    font-size: 9px; 
    font-weight: 400;
    line-height: 163%
}

span.category_content { 
    font-family: Arial; 
    font-size: 12px; 
    font-weight: 500;
    color: #222;
  }

td.Link {
   font-size: 12px; 
}

td.darker_border {
    background: #6bb;
}

td.postbody {
  padding:10px 14px;
    font-family: 'Arial unicode MS';

}
td.postbody p {
  font-family: 'Arial unicode MS';
}
td.title_column { 
  background: #c0ffff;
  padding: 0 6px; 
  font-size: 10px; 
  max-width: 7% !important;
}

td.picname {
  font-size: 10px; 
}


ol { font-size: 14px;
	margin-top: 1.3em;
}

img.auth_photo { float: left;
    padding: 1.5px; 
	margin: 0 12px 2px 0;
	border: 1px solid #c50529 !important;
	padding: 3px;
	margin-top:0px;
	width: 74px; height: auto !important;
}

blockquote { background: #f0ffff;
	padding: 0px 6px 12px 8px;
	border: solid gray 1px;
	border-radius: 9px;
}

img.hbpic { padding: 1px; 
	border: 1px solid #c50529;
	margin: 8px 10px 10px 8px;
	float: left;
	width: 53px;
	height: 60px;
}

table.Footer_level3 {
    Margin: 9px auto 0px auto;
}
 
td.Footer_level3 p {
    font-family: Arial; 
    text-align: center; 
    Margin: 0; 
    padding: 0; 
    font-size: 9px;
}

a.Footer_level3 {
    text-decoration: none;
    color: #0030da;
    padding: 0; 
    Margin: 0;
}

#findDialog {
    max-width: 400px !important;
}

#replaceDialog {
    max-width: 400px !important;
}

#txtFind {
    background:#fffff4;
    max-width: 360px !important;
}

#txtRFind {
    background:#f4ffff;
    max-width: 360px !important;
}

#txtReplace {
    background:#FFFFe9;
    max-width: 360px !important;
}

.HB_comment, .HB_comment p { font-family: "Segoe UI"; font-size: 16px; color: #202020; line-height: 1.3; text-align: left; }

.active:active {background-color: rgb(224, 73, 73);}

.active:focus {background-color: rgb(224, 73, 73);}

.mark {
	font-weight: bold;
	color: #84A0C5;
	background-color: #e4e4e4; /* or whatever */
    color: black;
}

.hit {
    color: white; background: red;
}


.ui-dialog-titlebar-close {
height: 13px !important;
margin-top: -6.5px !important;
}


.ui-widget-content.custom-replace-dialog {
    background: #6893EE;
    border: 2px solid #2F4F4F;
    color: #222222;
    position: absolute;
    top: 45px !important;
    left: 580px !important;
    overflow: visible !important;
    height: 450px !important;
}


/* Replace Dialog Content Style */
.ui-dialog.custom-replace-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
    margin: 10px 0 0 0;
    color: #000;
    font-weight: bold;
    width: 100% !important;
    height: 400px !important;
 font-family: 'Arial unicode MS';

}


.form-check-label {
    
    text-align: left !important;
}


/* Replace Dialog Header */
.ui-dialog.custom-replace-dialog .ui-widget-header {
    background: #6893EE;
    border: 0;
    color: #FFF;
    font-weight: bold;
 font-family: 'Arial unicode MS';

}


/* Replace Dialog Title Bar */
.ui-dialog.custom-replace-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
}

#btnReplace {
    background:#c05050 !important;
    font-size 55px;
}

/***********************************************STATISTICS WINDOW SECTION *****************/
/* Notification Dialog */
.ui-widget-content.custom-noti-dialog { display: none; }


/* Notification Dialog Header */
.ui-dialog.custom-noti-dialog .ui-widget-header { display: none; }

.ui-dialog .ui-dialog-content { display: none; }

.ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle { display: none; }

/* ************************************ Categories List **************************/
#list_of_categories_container{
   display: none;
    position:fixed;
    top: 60px;
    left: 690px;
    border: 1px solid blue;
    border-radius: 9px;
    padding: 4px 5px 3px 5px;
    width: 415px;
    height: 310px;
    background: #a0F0f0;
}
.modal-body: {
   width: 70%;
}